{% extends "base.html" %}

{% block style %}
input[type=number] {
	width: 50px;
}
{% endblock %}

{% block content %}

<div class='row main-content'>

{% if object.cartitem_set.count < 1 %}

{% include "carts/empty_cart.html" %}
<div class='container'>
	<div class='row'>
		<div class='col-sm-12'>
			<h4 class='make-text-sm'>Recommended Products <a class="btn btn-outline-dark text-uppercase browse" href="{% url 'product-variations-list' %}"> Browse All</a></h4>
			<hr/>
		</div>
	</div>
</div>
{% else %}

<div class='col-sm-8 mx-auto'>

<div class='card'>
<div class='card-body'>
<h4>Your Shopping Cart</h4>
<table class='table table-sm'> 
	<thead class="thead-dark">
		<tr>
		  <th scope="col">Item</th>
		  <th scope="col">Qty</th>
		  <th scope="col">Price</th>
		  <th scope="col">edit</th>
		</tr>
	  </thead>
<tbody>
{% for item in object.cartitem_set.all %}

<tr id='item-{{ item.item.id }}'>

<td>{{ item.item.get_title }}</td>


<td><form action="." method="GET" ><input type='hidden' name='item' value='{{ item.item.id }}' /><input type='number' class='item-qty' name='qty' value='{{ item.quantity }}' /><input type='submit' class='btn-update btn btn-link' value='Update item' style='display:none;'/></form></td>
<td id='item-line-total-{{ item.item.id }}'>{{ item.line_item_total }}</td>
<td class='text-center' ><a href='{{ item.remove }}'>X</a></td>

</tr>

{% endfor %}


<tr>
	<td  colspan='4' class='text-right'>Subtotal: <span id='subtotal'>{{ object.subtotal }}</span></td>
</tr>

<tr>
	<td colspan='4' class='text-right'>Tax (Estimated): <span id='taxtotal'>{{ object.tax_total }}</span></td>
</tr>

<tr>
	<td colspan='4' class='text-right'><b>Total:</b> <span id='carttotal'>{{ object.total }}</span></td>
</tr>


<tr>
	<td colspan='4' class='text-right'><a class='btn btn-warning' href="{% url 'checkout' %}">Checkout </a></td>
</tr>
</tbody>
</table>

</div>
</div>
</div>
{% endif %}

</div>
{% endblock %}