{% url 'home' as account_home %}
{% url 'products' as product_marketplace %}
{% url 'delivery' as delivery_area %}
{% url 'account:subscription-list' as new_signup %}
{% url 'posts:list' as news_list %}
{% url 'products:product-variations-list' as variation_list %}
{% url 'about' as about_us %}
{% url 'growlers:growlers' as growler_station %}

<div class="nav-scroller bg-white box-shadow">
	<div class='container'>
		<nav class="nav nav-underline">
			<a class='nav-link' href='{% url "cart" %}'><span class='maroon-text'><i class="fa fa-shopping-cart fa-navbar-cart"></i></span> <span id="cart-count-badge" class='badge badge-pill badge-warning'>{{ request.session.cart_item_count }}</span></a>
			<a class="nav-link {% if request.path == variation_list %} active {% endif %}" href="{% url 'products:product-variations-list' %}"><span class='maroon-text'><i class="fas fa-tags"></i></span> eGrocer® Shop</a>
			<a class="nav-link {% if request.path == news_list %} active {% endif %}" href="{% url 'posts:list' %}"><span class='maroon-text'><i class="far fa-list-alt"></i></span> Latest News & Events</a>
			<a class="nav-link {% if request.path == about_us %} active {% endif %}" href="{% url 'about' %}"><span class='maroon-text'><i class="fas fa-users"></i></span> About Us</a>
			<a class="nav-link {% if request.path == growler_station %} active {% endif %}" href="{% url 'growlers:growlers' %}"><span class='maroon-text'><i class="fas fa-beer"></i></span> Growler Station</a>
			{% if request.user.is_authenticated %}
			<a class="nav-link {% if request.path == delivery_area %} active {% endif %}" href="{% url 'delivery' %}"><span class='maroon-text'><i class="fas fa-truck"></i></span> Delivery Area</a>
			<a class="nav-link {% if request.path == account_home %} active {% endif %}" href="{% url 'home' %}"><span class='maroon-text'><i class="fas fa-home"></i></span> Home</a>
			{% else %}
			<!-- <a class="nav-link {% if request.path == new_signup %} active {% endif %}" href="{% url 'account:subscription-list' %}"><span class='maroon-text'><i class="fas fa-box-open"></i></span> Signup</a> -->
			{% endif %}
		</nav>
	</div>
</div>