{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}

<div class='row'>
    <div class='col-sm-6 mx-auto'>
        <div class='card shadow'>
            <div class='card-body'>
                {% if title %}
                <h4 class='{% if title_align_center %}text-align-center{% endif %}'>{{ title }}</h4>
                {% endif %}

                <form method='POST' action=''>{% csrf_token %}
                {{ form|crispy }}

                <input class='btn btn-dark' type='submit' value='Submit'/>

                </form>
            </div>
        </div>
    </div>
    <div class='col-sm-6 mx-auto'>
        <div class='card shadow'>
            <div class='card-body'>
                <h5 class="card-title">Thank you for reaching out</h5>
				<p>We value your feedback and normally review all submissions within 2-3 business days!</p>
				<a href="/" class="btn btn-outline-primary">Explore</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}