<div class="thumbnail mt-2 mb-2">
	{% if variation.get_var_image_url %}
	<div class='vid-container'>
		<a href="{% url 'products:exp_detail' slug=variation.product.slug %}?var_display={{ variation.slug }}"><img id='img' class='img-fluid' src='{{ variation.get_var_image_url }}' /></a><br/>
	</div>
	{% else %}
	<div class='vid-container'>
		<a href="{% url 'products:exp_detail' slug=variation.product.slug %}?var_display={{ variation.slug }}"><img id='img' class='img-fluid' src='{{ variation.get_image_url }}' /></a><br/>
	</div>
	{% endif %}
	<h5 class='total-thumb'><a href="{% url 'products:exp_detail' slug=variation.product.slug %}?var_display={{ variation.slug }}">{{ variation.product.title }}</a><br/>
		<span class='variety-text'>{{ variation.title }}</span></h5>
	{% if price == "True" %}
		${{ variation.get_html_price }}
	{% endif %}
	<p class='legal-sm'><span class='text-muted'>Pick Up Today</span>
		{% if variation.inventory > 0 %} <span class='green-qty-text'>Limited Quantity</span>
		{% else %}
		<span class='unavailable-text'>call for availability</span>
		{% endif %}
		<br/>
		<span class='text-muted'>Delivery</span> <span class='unavailable-text'>Unavailable</span></p>
		{% include 'products/snippets/exp-update-cart.html' with var_obj=variation %}
</div>