<div class="thumbnail">
	{% if product.get_image_url %}
	<div class='vid-container'>
		<a href='{{ product.get_absolute_url }}'><img id='img' class='img-fluid' src='{{ product.get_image_url }}' /></a><br/>
	</div>
	{% endif %}
	<h5 class='total-thumb'><a href='{{ product.get_absolute_url }}'>{{ product.title }}</a><br/>
		<span class='variety-text'>{{ product.variation_set.first.title }}</span></h5>
	{% if price == "True" %}
		${{ product.variation_set.first.get_html_price }}
	{% endif %}
	<p class='legal-sm'><span class='text-muted'>Pick Up Today</span>
		{% if product.variation_set.first.inventory > 0 %} <span class='green-qty-text'>Limited Quantity</span>
		{% else %}
		<span class='unavailable-text'>call for availability</span>
		{% endif %}
		<br/>
		<span class='text-muted'>Delivery</span> <span class='unavailable-text'>Unavailable</span></p>
</div>